*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}


/* Header styles start */
.header{
    width: 100%;
    height: 750px;
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    display: flex;
    justify-content: center;
}

.header-div{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-div h1{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0px;
}

.header-div p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 25px 0px;
}

.button{
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover{
    color: #F15B22;
    background-color: #FFFFFF;
}

/* Header styles end */


/* Main styles start */

/* Failure and Success (EXTRA) parts start */
.failure, .success{
    width: 80%;
    margin: 130px auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    display: flex;
}

.failure-img, .success-img{
    width: 50%;
}

.failure-options, .success-options{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.head-2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin: 0px;
}

.paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 20px;
    margin-bottom: 12;
}

.failures-list, .success-list{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 8px 0px;
}

.failures-list p, .success-list p{
    margin: 0px;
}
/* Failure and Success (EXTRA) parts ends */

/* Plans section starts */
.plans{
    width: 90%;
    margin: auto;
    margin-bottom: 130px;
}

.plan h2{
    text-align: center;
}

.plans-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
}

.plans-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-list h3{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #151414;
    margin: 16px 0px;
}

.plans-list p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #737272;
    margin: 0px;
}



/* Plans section ends */

/* Main styles end */
